* {
  color: white;
  font-family: fantasy, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin:0px;
}

body {
  background-color: black;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  max-width: 690px;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: static;
}

#highlight {
  color: orangered;
}

/* PAGE SECTIONS, TOP TO BOTTOM */
#hud {
  background-color: #666;
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

#playerTile {
  background-color: #333;
  border-radius: 5px;
  padding: 12px;
}

#actionTile {
  background-color: rgb(247, 109, 109);
  border-radius: 5px;
  padding: 12px;
}

#messageTile {
  background-color: #666;
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
  display: grid;
  }


/* Buttons */
#buttonBar {
  margin-top: 10px;
}

.actionBtn {
  border-radius: 5px;
  border: 2px solid darkslateblue;
  background-color: #333;
  color: black;
  font-size: 15px;
  padding: 2px 8px;
}
#hitBtn {  background-color: red; }
#reBtn {  background-color: rgb(81, 81, 245); }
#talkBtn {  background-color: aquamarine; }
#invBtn {  background-color: lawngreen; }
#shBtn {  background-color: chocolate; }

/* Collapsable divs for NPC interaction */
#inventoryDiv {
  background-color: #666;
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
}

#inventoryDiv li {
  margin-left: 20px;
}

#shopDiv {
  background-color: #666;
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
  height: 100px;
}

#shopDiv li {
  margin-left: 20px;
}

#shopDiv a {
  text-decoration: none;
  color: orange;
}

#talkDiv {
  background-color: #666;
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
  height: 100px;
}

#gameDiv {
  background-color: #666;
  margin-top: 12px;
  padding: 14px;
  border-radius: 5px;
  height: 200px;
}

/* We'll need to use a spritesheet eventually */
#characters {
  display: none;
}
